<section class="card bg-body py-3 px-5 mx-auto rounded w-50 border border-2">

  <h2 class="my-3">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3 required">
      <div class="text-danger fst-italic">
        <% if !resource.errors.where(:username).empty? %>
          * <%= resource.errors.where(:username).last.full_message %>
        <% end %>
      </div>
      <%= f.text_field :username, autofocus: true, class:"form-control #{ !resource.errors.where(:username).empty? && "border border-danger"}" , placeholder:"Enter your name" %>
      <%= f.label :username, class:"form-label" %>
    </div>

    <div class="form-floating mb-3 required">
      <div class="text-danger fst-italic">
        <% if !resource.errors.where(:email).empty? %>
          * <%= resource.errors.where(:email).last.full_message %>
        <% end %>
      </div>
      <%= f.email_field :email, autocomplete: "email" , class:"form-control #{ !resource.errors.where(:email).empty? && "border border-danger"}" , placeholder:"email" %>
      <%= f.label :email, class:"form-label" %>
    </div>

    <div class="form-floating mb-3 required">
      <div class="text-danger fst-italic">
        <% if !resource.errors.where(:password).empty? %>
          * <%= resource.errors.where(:password).last.full_message %>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password" , class:"form-control #{ !resource.errors.where(:password).empty? && "border border-danger"}", placeholder:"Enter your password"%>
      <%= f.label :password, class:"form-label" %>
    </div>

    <div class="form-floating mb-3 required">
      <div class="text-danger fst-italic">
        <% if !resource.errors.where(:password_confirmation).empty? %>
          * <%= resource.errors.where(:password_confirmation).last.full_message %>
        <% end %>
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control #{ !resource.errors.where(:password_confirmation).empty? && "border border-danger"}" , placeholder:"Re-enter your password"%>
      <%= f.label :password_confirmation, class:"form-label" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-dark my-4" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</section>
