<%= form_with(model: artist, data: {
  controller: 'nested-form',
  nested_form_wrapper_selector_value: '.nested-form-wrapper'
} , class:"row g-3") do |form| %>

  <div class="col-md-6 required">
    <%= form.label :name, class:"form-label" %>
    <%= form.text_field :name, class:"form-control #{ !artist.errors.where(:name).empty? && "border border-danger"}", placeholder:"Enter your name" %>
    <div class="text-danger fst-italic">
      <% if !artist.errors.where(:name).empty? %>
        * <%= artist.errors.where(:name).last.full_message %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 required">
    <%= form.label :email, class:"form-label" %>
    <%= form.email_field :email, class:"form-control #{ !artist.errors.where(:email).empty? && "border border-danger"}", placeholder:"example@domain.com" %>
    <div class="text-danger fst-italic">
      <% if !artist.errors.where(:email).empty? %>
        * <%= artist.errors.where(:email).last.full_message %>
      <% end %>
    </div>
  </div>

  <div class="required">
    <%= form.label :"Profile Picture", class:"form-label" %>
    <%= form.file_field :image, class:"form-control #{ !artist.errors.where(:image).empty? && "border border-danger"}" %>
    <div class="text-danger fst-italic">
      <% if !artist.errors.where(:image).empty? %>
        * <%= artist.errors.where(:image).last.full_message %>
      <% end %>
    </div>
  </div>
  <% if artist.id? %>
        <%= image_tag rails_storage_proxy_path(artist.image), class:"profile" %>
  <% end %>

  <% if artist.id? %>
    <% artist.pictures.each do |picture| %>
      <%= form.hidden_field :pictures, multiple: true, value: picture.signed_id %>
    <% end  %>
  <% end %>
  <div class="required">
    <%= form.label :"Gallery Pictures", class:"form-label" %>
    <%= form.file_field :pictures, multiple: true, class:"form-control #{ !artist.errors.where(:pictures).empty? && "border border-danger"}" %>
    <div class="text-danger fst-italic">
      <% if !artist.errors.where(:pictures).empty? %>
        * <%= artist.errors.where(:pictures).last.full_message %>
      <% end %>
    </div>
  </div>
  <% if artist.id? %>
    <% artist.pictures.each do |picture| %>
      <%= image_tag rails_storage_proxy_path(picture), class:"profile" %>
    <% end %>
  <% end %>

  <div>
    <%= form.label :location, class:"form-label" %>
    <%= form.text_field :location, class:"form-control", placeholder:"Enter your location" %>
  </div>

  <% if false %>
  <div class="required">
    <%= form.label :"YouTube Links", class:"form-label" %>
    <%= form.text_field :links, class:"form-control #{ !artist.errors.where(:links).empty? && "border border-danger"}", placeholder:"Youtube video url" %>
    <div class="text-danger fst-italic">
      <% if !artist.errors.where(:links).empty? %>
        * <%= artist.errors.where(:links).last.full_message %>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="px-5 py-4 mt-5 mb-4 rounded-3" style="border-style: dashed; border-color: #D3D3D3;">
  <p class="form-label ">YouTube Links <span class="text-danger">*</span> </p>
  <div class="text-danger fst-italic">
      <% if !artist.errors.where(:links).empty? %>
        * <%= artist.errors.where(:links).first.message %>
      <% end %>
  </div>

  <template data-nested-form-target="template">
    <%= form.fields_for :links, Link.new, child_index: 'NEW_RECORD' do |link| %>
      <%= render "artists/link_fields", f: link %>
    <% end %>
  </template>

  <%= form.fields_for :links do |link| %>
    <%= render "artists/link_fields", f: link %>
  <% end %>

  <div data-nested-form-target="target"></div>

  <div class="text-start mt-3">
  <button type="button" data-action="nested-form#add" class="btn btn-primary">Add Link</button>
  </div>
  </div>

  <div class="col-md-4">
    <%= form.label :work, class:"form-label" %>
    <%= form.text_field :work, class:"form-control", placeholder:"Field of work" %>
  </div>

  <div class="col-md-4">
    <%= form.label :dob, class:"form-label" %>
    <%= form.date_field :dob, class:"form-control" %>
  </div>

  <div class="col-md-4">
    <div class="form-group required">
      <%= form.label :category, class:"form-label d-block" %>
      <%= form.select :category_id, options_for_select(@categories.collect { |cat| [cat.name, cat.id]}, artist.category_id), { prompt: "Select a category" }, class: "form-select #{ !artist.errors.where(:category_id).empty? && "border border-danger"}" %>
      <div class="text-danger fst-italic">
      <% if !artist.errors.where(:category_id).empty? %>
        * <%= artist.errors.where(:category_id).last.full_message %>
      <% end %>
    </div>
    </div>
  </div>

  <div class="d-flex gap-3">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
