<%= form_with(model: category) do |form| %>

  <div class="required">
    <%= form.label :name, class:"form-label needs-validation" %>
    <%= form.text_field :name, class:"form-control #{ !category.errors.where(:name).empty? && "border border-danger"}", placeholder:"Enter title of the category" %>
    <div class="text-danger fst-italic">
      <% if !category.errors.where(:name).empty? %>
        * <%= category.errors.where(:name).last.full_message %>
      <% end %>
    </div>
  </div>

  <div class="py-3 d-flex justify-content-end">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
