<nav class="navbar navbar-expand-lg sticky-top bg-body">
  <div class="container-fluid px-4">
    <div class="nav-item mb-1">
      <%= link_to "Artist Directory", root_path, class:"navbar-brand text-dark fs-2 bg-warning rounded px-3 py-1 mr-3" %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-1 mb-lg-0">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "Categories", categories_path, class:"nav-link link-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "New artist", new_artist_path, class:"nav-link link-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to requests_path, class:"nav-link link-secondary" do %>
                  <span class="pri-bg rounded px-3 py-1 text-dark position-relative my-bold">
                  Requests
                  <% if Comment.where("approval = false").count!=0 %>
                    <span class="position-absolute top-0 start-100 fs-7 translate-middle badge border border-light requests bg-danger p-1">
                      <%= Comment.where("approval = false").count %>
                    </span>
                  <% end %>
                  </span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav mb-1 mb-lg-0">
        <% if !user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class:"nav-link link-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class:"nav-link link-secondary" %>
            </li>
          <% else %>
            <li class="nav-item my-auto">
                <%= link_to edit_user_registration_path, class:"nav-link link-secondary" do %>
                  <div class="user pri-bg p-2 fs-5 text-uppercase fw-semibold">
                    <span class="alpha">
                    <% if current_user.username %>
                      <%= current_user.username[0] %>
                    <% end %>
                    </span>
                  </div>
                <% end %>
            </li>
            <li class="nav-item my-auto sign-out rounded px-2">
              <%= link_to "Sign out", destroy_user_session_path, class:"nav-link link-secondary", data: { turbo_method: :delete } %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
